@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Scope+One|Trocchi");
body{
	padding:0px;
	margin:0px;
}
header, menu, nav{
		display: block;
	}

ol, ul {
		list-style: none;
	}

	#header {
		background-color:#03011b;
		color:red;
    height: 2.25em;
		left: 0;
		line-height: 2.25em;
		position:fixed;
		top:0;
		width: 100%;
		z-index: 10001;
		text-align:right;
	}

		#header > .logo {
			display: inline-block;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

#header > .logo a:hover {
					color: #3498db;
				}

.logo{

}

#header > a:last-child {
				padding-right: 2.25em;
				color: red;
				font-family:inherit;
			}
/*menu*/
#menu {
		-moz-transform: translateX(20em);
		-webkit-transform: translateX(20em);
		-ms-transform: translateX(20em);
		transform: translateX(20em);
		-moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background-color:#03011b;
		box-shadow: none;
		color: #fff;
		height:100%;
		max-width: 80%;
		overflow-y: auto;
		padding: 3em 2em;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 20em;
		z-index: 10002;
	}

		#menu > ul {
			margin: 0 0 1em 0;
		}

			#menu > ul.links {
				list-style: none;
				padding: 0;
			}

				#menu > ul.links > li {
					padding: 0;
				}

					#menu > ul.links > li > a:not(.button) {
						border: 0;
						border-top: solid 1px rgba(255, 255, 255, 0.25);
						color: inherit;
						display: block;
						line-height: 3.5em;
						text-decoration: none;
					}

					#menu > ul.links > li > .button {
						display: block;
						margin: 0.5em 0 0 0;
					}



					#menu > ul.links > li:first-child > a:not(.button) {
						border-top: 0 !important;
					}

		#menu .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			border: 0;
			color: #fff;
			cursor: pointer;
			display: block;
			height: 3.25em;
			line-height: 3.25em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 7em;
		}

			#menu .close:before {
				content: "ï€";
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#menu .close:before {
				font-size: 1.25em;
			}

			#menu .close:hover {
				color: #3498db;
			}

			.programes{
				color:red;
			}
			.programes:hover{
				background-color:white;
			}

			#navigation{
				display: flex;
				justify-content: space-between;
				background-color:#03011b;
				color:white;
				width:100%;
				position:relative;
				top:36px;
				height:25px;
			 position:fixed;
			 right:0px;
			 left:0px;
			}
			.navlist{
				color: white;
					text-decoration: none;
					font-family:Clarendon BT;
			}
			.navlist:hover{
				color:red;
			}
			#Register{
				position:relative;
				 background-color:red;
				 color:white;
					text-decoration: none;
			}
			#login{
				position:relative;
				background-color:grey;
				color:white;
					text-decoration: none;
			}
			#Register:hover,#login:hover{
				color:blue;
			}
			#reg{
				position:relative;
				right:5px;

			}
			#home{
				position:relative;
				left:5px;

			}

			#resouces{
				position:relative;
				width:100%;
				top:35px;
				display:flex;
				background-color:#070518;
				justify-content:space-around;
				left:0px;
				right:0px;
				z-index:-1;
			}
			#let{
				color: red;
				}
#let:hover{
	color: white;
}
			#search{
				display:flex;
				justify-content: space-around;
				position: relative;
				top:38px;
				align-items: center;
				width:100%;
			}

			#on{
    color: black;
		background-color:#f2f2f2;
		width: 400px;
		border-radius:120px;
		height:20px;
			}
			#two{

			}

			#links{
				display:flex;
				position: relative;
				top:40px;
				align-items: center;
				justify-content: space-around;
				width:100%;
				background-color:#f2f2f2;
				height:100px;
			}
			#flink,#slink,#tlink,#folink{
				width:10%;
				height:80px;
				background-color:black;
				color:white;
				text-align:center;

			}

			.udemy{
				position: relative;
				color: white;
				text-decoration: none;
				top:30px;
			}
.udemy:hover{
	color:red;
}
#viewall{
	position:relative;
	top:43px;
	color:red;
	width:30%;
	background-color:white;
	height:20px;
	text-align: center;
  font-size:15px;
	font-family:inherit;
	border-radius:12px;
}
#viewall:hover{
	background-color:black;
}
#con{
	background-color:#f2f2f2;
	height:230px;
	width:100%;
	position:relative;
	top:20px;
}
#latest{
	display:flex;
	justify-content:space-around;
	width:100%;
	position:relative;
	top:35px;
	height:150px;
}
.p{
	width:80%;
	height:80%;
}
			@media screen and (max-width: 736px) {

				#menu .close {
					height: 4em;
					line-height: 4em;
				}
#on{
	width:100%;

}
			}

		#menu.visible {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}
		#all_container{
background-color:#f2f2f2;
		}
		#tops_container{
			position:relative;
			top:5px;
			display:flex;
			justify-content: space-around;
		}
li>a{
	color:black;
	text-decoration:none;
}
li>a:hover{
	color:red;
}
#req{
	color:red;
	background-color:black;
	width:20%;
	height:40px;
	border:none;
	outline:none;
	box-shadow:0 0 0 3px black;
	display:block;
}
#pop{
 width: 50%;
	display:none;
	z-index:10004;
	animation:zoom 2s;
	background-color:white;
}
.in{
	margin-bottom:10px;
	width:100%;
	padding:12px 20px;
	margin:8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
#request{
	color:white;
	background-color:#48d1cc;
	padding: 14px 20px;
	margin: 8px 0;
	cursor: pointer;
	width: 100%;
	border:none;
	outline:none;
	box-shadow:0 0 0 0 3px black;
}
@keyframes zoom{
	from{transform:scale(0);}
	to{transform:scale(1);}
}
		@media screen and (max-width: 736px) {

			#menu {
				padding: 2.5em 1.75em;
				height:100%;
			}


		}

		@media screen and (max-width: 568px) {

			#menu {
				height:500px;
			}
			#vid{
				position:relative;
				right:10px;
			}
			#search{
				display:grid;
			}

			#flink,#slink,#tlink,#folink{
				width:20%;
				height:70px;
				background-color:black;
				color:white;
				text-align:center;
	}


		}
